@using Kendo.Mvc.UI
<div id="ProdutosGrid">
    @(Html.Kendo().Grid<PDV.Models.Produto>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Descricao).Width(140);
            columns.Bound(c => c.PrecoVenda).Width(190);
            columns.Bound(c => c.Qtde).Width(50);
            columns.Bound(c => c.PrecoVenda).Width(110);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
        })
                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                .ToolBar(toolbar => toolbar.Create())
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
                    .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.ProdutoID))
            .Create(update => update.Action("EditingPopup_Create", "Produtonovo"))
            .Read(read => read.Action("Produtos_Read", "Produtonovo"))
                         .Update(update => update.Action("EditingPopup_Update", "Produtonovo"))
            .Destroy(update => update.Action("EditingPopup_Destroy", "Produtonovo"))
        )
    )
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
<style scoped>
    #ProdutosGrid {
        width: 952px;
        height: 396px;
        margin: 20px auto 0;
        padding: 51px 4px 0 4px;
    }
</style>